/* ========================================================================== */
/* Fonts */
/* ========================================================================== */

/* -------------------------------------------------------------------------- */
/* Inter */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 450 500 600;
  src: url("../fonts/inter.ttf") format("ttf");
}