/* ========================================================================== */
/* Variables */
/* ========================================================================== */

/* -------------------------------------------------------------------------- */
/* Root */

:root {
  --color-1: #0f0f0f;
  --color-2: #666666;
  --color-3: #999999;
  --color-4: #f7f7f7;
  --color-5: #5733929f;
  --transition-duration: .2s;
  --transition-function: ease-in-out;
}