---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 page not found - Matthias Devers" description="Matthias Devers is a frontend developer and product designer form Germany. He's constantly seeking ways to bring creativity and functionality together." robots="none">
  <h1>Page not found</h1>
  <section>
    <h2>404 error (◕ᴥ◕ʋ)</h2>
    <p>
      The page you were looking for doesn't exist.<br>
      Go <a href="/">back</a> to the main page.
    </p>
  </section>
</Layout>