---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Matthias Devers" description="Matthias Devers is a frontend developer and product designer form Germany. He's constantly seeking ways to bring creativity and functionality together." robots="all">
  <h1>Allow me to introduce myself. My name is Matthias and I'm a frontend developer & product designer from Germany.</h1>
  <section>
    <h2>About</h2>
    <p>As a product of the 90s, I spent my childhood conquering <b>video games</b>, shredding on my <b>skateboard</b>, and expressing myself through <b>drawing.</b></p>
    <p>This fueled a passion for <b>design</b> and <b>computer science</b>, leading me to merge these worlds. Now, I primarily focus on crafting <b>web applications</b> and <b>product designs</b>, constantly seeking ways to bring creativity and functionality together.</p>
  </section>
  <section>
    <h2>Now</h2>
    <p>I'm currently working at <b><a href="https://adh-devers.de" target="_blank" rel="noopener noreferrer">ADH Devers</a></b>, a horticulture marketing and wholesaling web application bringing together horticulture businesses and merchants where I'm responsible for the entire development and design.</p>
    <p>Take a look at some of my work on my <b><a href="https://github.com/matthiasdevers" target="_blank" rel="noopener noreferrer">GitHub</a></b> account.</p>
  </section>
</Layout>


