---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Legal notice - Matthias Devers" description="Matthias Devers is a frontend developer and product designer form Germany. He's constantly seeking ways to bring creativity and functionality together." robots="none">
  <h1>Legal notice</h1>
  <p>
    Matthias Devers<br>
    Kastellweg 27, 47608 Geldern<br>
    Germany
  </p>
  <a href="mailto:contact@matthiasdevers.com">contact@matthiasdevers.com</a>
  <section>
    <h2>Cookies</h2>
    <p>This website respects your privacy and does not use cookies to track your browsing activity or collect personal information for advertising purposes.</p>
  </section>
  <section>
    <h2>Links</h2>
    <p>This website contains links to external websites, over whose contents I have no control. Therefore, I cannot accept any liability for these external contents. The respective provider or operator of the websites is always responsible for the contents of the linked pages.</p>
    <p>The linked pages were checked for possible legal violations at the time of linking. Illegal contents were not identified at the time of linking. However, permanent monitoring of the contents of the linked pages is not reasonable without specific indications of a violation. Upon notification of violations, I will remove such links immediately.</p>
    <p> All trademarks, logos, brand and company names are the property of their respective owners.</p>
  </section>
</Layout>